<script>

import CatItemBackground from './CatItemBackground'

export default {
  components: {
    CatItemBackground
  },

  filters: {
    commaSeparator (num) {
      return num.toString().replace('.', ',')
    }
  },

  props: {
    item: {
      type: Object
    }
  },

  data () {
    return {
      state: 'default',
      hoverableStates: [ 'default', 'selected' ],
    }
  },

  computed: {
    hoverStates () {
      return this.hoverableStates.map(this.addHoverSuffix)
    },

    isStateDefault () {
      return [ 'default', this.addHoverSuffix('default') ].includes(this.state)
    },

    isStateSelected () {
      return [ 'selected', this.addHoverSuffix('selected') ].includes(this.state)
    }
  },

  created () {
    this.state = this.item.state
  },

  methods: {
    onBodyMouseEnterListener () {
      if (this.hoverableStates.includes(this.state)) {
        this.state = this.addHoverSuffix(this.state)
      }
    },

    onBodyMouseLeaveListener () {
      if (this.hoverStates.includes(this.state)) {
        this.state = this.removeHoverSuffix(this.state)
      }
    },

    onBuyListener () {
      if (this.isStateDefault) {
        this.state = 'selected'
      } else if (this.isStateSelected) {
        this.state = 'default'
      }
    },

    addHoverSuffix (item) {
      return `${item}-hover`
    },

    removeHoverSuffix (item) {
      return item.replace(/-hover$/, '')
    }
  }
}

</script>

<template>
  <div
      class="cat-item"
      :class="{
        [ `cat-item_${state}` ]: true
      }"
  >
    <a
        class="cat-item__body"
        href="#"
        @mouseenter="onBodyMouseEnterListener"
        @mouseleave="onBodyMouseLeaveListener"
        @click.prevent="onBuyListener"
    >
      <cat-item-background
          :state="state"
          class="cat-item__background"
      />
      <div class="cat-item__content">
        <div
            class="cat-item__label"
            :class="{ 'cat-item__label_cancel': state === 'selected-hover' }"
        >
          {{ state === 'selected-hover' ? 'Котэ не одобряет?' : 'Сказочное заморское яство' }}
        </div>
        <div class="cat-item__title">
          {{ item.title }}
        </div>
        <div class="cat-item__ingredients">
          {{ item.ingredients }}
        </div>
        <div
            v-for="(extra, index) in item.extra"
            class="cat-item__extra"
            :key="index"
        >
          <span
              v-for="(extraItem, index) in extra"
              :key="index"
          >
            <strong v-if="typeof extraItem === 'number'">{{ extraItem }} </strong>
            <template v-else>{{ extraItem }} </template>
          </span>
        </div>
      </div>
      <div class="cat-item__weight">
        <div class="cat-item__weight-value">
          {{ item.weight | commaSeparator }}
        </div>
        кг
      </div>
    </a>
    <div class="cat-item__description">
      <template v-if="isStateDefault">
        Чего сидишь? Порадуй котэ, <a href="#" class="cat-item__buy-link" @click.prevent="onBuyListener">купи.</a>
      </template>
      <template v-else-if="isStateSelected">
        {{ item.description }}
      </template>
      <template v-else>
        Печалька, {{ item.ingredients }} закончился.
      </template>
    </div>
  </div>
</template>

<style lang="scss">

.cat-item__body {
  display: block;
  position: relative;
  margin: 0 auto 15px;
  width: 320px;
  height: 480px;
  color: $primary-text-color;
  text-decoration: none;
}

.cat-item__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cat-item__content {
  position: relative;
  padding: 20px 50px 0;
}

.cat-item__label {
  margin-bottom: 15px;
  color: $secondary-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.cat-item__label_cancel {
  color: $selected-hover-element-color;
}

.cat-item__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

.cat-item__ingredients {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.cat-item__extra {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 16px;
}

.cat-item__weight {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  color: $light-text-color;
  background-color: $default-element-color;
  font-size: 21px;
  line-height: 1;
}

.cat-item__weight-value {
  font-size: 42px;
}

.cat-item__description {
  color: $light-text-color;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 #000000;
}

.cat-item__buy-link {
  color: $default-element-color;
  text-decoration-style: dashed;

  &:hover {
    color: $default-hover-element-color;
  }
}


// State modifier styles

.cat-item_disabled {
  .cat-item__body {
    cursor: initial;
  }

  .cat-item__weight {
    background-color: $disabled-element-color;
  }

  .cat-item__description {
    color: $disabled-description-color;
  }
}

.cat-item_default-hover {
  .cat-item__weight {
    background-color: $default-hover-element-color;
  }
}

.cat-item_selected {
  .cat-item__weight {
    background-color: $selected-element-color;
  }
}

.cat-item_selected-hover {
  .cat-item__weight {
    background-color: $selected-hover-element-color;
  }
}

</style>
