<script>

export default {
  props: {
    state: {
      type: String,
      required: true,

      validator (val) {
        return ['default', 'default-hover', 'selected', 'selected-hover', 'disabled'].includes(val)
      }
    }
  }
}

</script>

<template>
  <svg
      class="cart-item-background"
      :class="{ [ `cart-item-background_${this.state}` ]: true }"
      width="320"
      height="480"
      viewBox="0 0 320 480"
  >
    <defs>
      <path
          id="tiyia"
          d="M388 104a12 12 0 0 1 12 12v456a12 12 0 0 1-12 12H92a12 12 0 0 1-12-12V147l43-43z"
      ></path>
      <clipPath id="tiyib">
        <use
            fill="#fff"
            xlink:href="#tiyia"
        ></use>
      </clipPath>
    </defs>
    <g transform="translate(-80 -104)">
      <use
          fill="#f2f2f2"
          xlink:href="#tiyia"
      ></use>
      <image
          class="cat-item__photo"
          xlink:href="../assets/cat.png"
          width="315px"
          height="273px"
          x="80"
          y="310"
      ></image>
      <use
          class="cart-item-background__border"
          fill="#fff"
          fill-opacity="0"
          stroke-miterlimit="50"
          stroke-width="8"
          clip-path="url('#tiyib')"
          xlink:href="#tiyia"
      ></use>
    </g>
  </svg>
</template>

<style lang="scss">

.cart-item-background {
  .cart-item-background__border {
    stroke: $default-element-color;
  }

  &.cart-item-background_default-hover {
    .cart-item-background__border {
      stroke: $default-hover-element-color;
    }
  }

  &.cart-item-background_disabled {
    .cart-item-background__border {
      stroke: $disabled-element-color;
    }

    .cat-item__photo {
      opacity: .5;
    }
  }

  &.cart-item-background_selected {
    .cart-item-background__border {
      stroke: $selected-element-color;
    }
  }

  &.cart-item-background_selected-hover {
    .cart-item-background__border {
      stroke: $selected-hover-element-color;
    }
  }
}

</style>
