<script>

import { mapState } from 'vuex'
import CartItem from './components/CatItem'

export default {
  components: {
    CartItem
  },

  computed: {
    ...mapState([ 'items' ])
  },

  created () {
    this.$store.dispatch('fetchItems').catch(() => alert('Invalid network connection'))
  }
}

</script>

<template>
  <div id="app" class="app">
    <h1 class="app__header">Ты сегодня покормил кота?</h1>

    <div class="app__cat-list">
      <cart-item
          v-for="item in items"
          :key="item.id"
          :item="item"
          class="app__cat-item"
      />
    </div>
  </div>
</template>

<style src="normalize.css"></style>

<style lang="scss">

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400&subset=cyrillic');

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  min-height: 100vh;
}

.app {
  position: relative;
  min-height: 100vh;
  padding: 40px 0 0;
  background: url('./assets/pattern.png');
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  }
}

.app__header {
  position: relative;
  margin: 0 0 25px;
  padding: 0;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 36px;
  line-height: 38px;
  text-shadow: 0 1px 0 #000000;
}

.app__cat-list {
  @media (min-width: 730px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.app__cat-item {
  position: relative;
  margin-bottom: 60px;

  // Tablets and PC
  @media (min-width: 730px) {
    &:nth-last-child(n+2) {
      margin-right: 80px;
    }
  }

  // Tablets
  @media (max-width: 1130px) {
    &:nth-child(1) {
      flex-basis: 100%;
      margin-right: 0;
    }
  }
}

</style>
