// Colors

$primary-text-color: #000;
$secondary-text-color: #666;
$light-text-color: #fff;


// Item State Colors

$disabled-text-color: #d3d3d3;
$disabled-element-color: #b3b3b3;
$disabled-description-color: #ffff66;

$default-element-color: #1698d9;
$default-hover-element-color: #2ea8e6;

$selected-element-color: #d91667;
$selected-hover-element-color: #e62e7a;
